.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h2 {
  text-align: left;
}

.auth-box1 {
  background: #fff;
  border: 3px solid rgb(7, 7, 10);
  padding: 20px;
  margin: 50px 0;
  border-radius: 5px;
  padding-left: 40x;
  margin-left: 400px;
  margin-right: 400px;
  padding-right: 20px;
}

.bg {
  background-color: #d1caca;
}
.Box-model {
  padding-right: 20px;
  height: 32px;
}
.container {
  width: fit-content;
  padding-left: inherit;
  margin-right: auto;

  margin-left: auto;
}
.c {
  text-transform: capitalize;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* .table {
  widows: 100%;
} */
.required {
  color: red;
}
.css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}
.css-serial td:first-child::before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}
.M {
  margin-top: 12px;
}
.image1 {
  width: 400px;
  height: 450px;
}
.dialog {
  margin: auto;
  display: block;
}
.mg {
  padding-right: 30px;
  padding-left: 15px;
}
.mg1 {
  padding-left: 100px;
}
.mg2 {
  /* padding-left: 122px; */
  padding-left: 250px;
}
.mg3 {
  /* margin-left: "265px"; */
  padding-left: "150px";
}
.primary {
  min-width: 150px;
  border-radius: 0;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #b1acc2 !important;
  background: #111;
  color: #433b6d;
  position: relative;
}
.icons {
  font-size: 38px;
  font-weight: 600;
  color: #989898;
  padding-left: 600px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.bans {
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flax-center {
  margin: 30px auto;
  background-origin: 10px solid white;
  justify-content: center;
  height: 40px;
  display: flex;
  padding-right: 10px;
}
.top {
  padding-top: 5px;
  padding-right: 3px;
}
.active {
  background: rgb(185, 37, 37);
  font-weight: 200px;
  background-color: none;
  background: none;
  font-weight: bold;
  border-bottom: 2px solid rgb(41, 5, 245);
}
.email {
  width: 100%;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.input-group {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.login_loginContainer__2JMrT {
  display: flex;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
  background: url(http://192.168.2.119:3001/static/media/Login_Bg.9c4b2b39.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
}
.login_formSignin__27WMl {
  width: 100%;
  max-width: 400px;
  padding: 10px 25px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}
.login_login_header__3FYY0 {
  display: flex;
  font-family: FrutigerNeueLTPro-Bold;
  padding: 10px;
  padding-left: 40px;
  /* text-align: center; */
}
.login_subhead__e1IaE {
  color: #797979;
  font-size: 14px;
  font-family: FrutigerNeueLTPro-Regular;
  text-align: center;
  padding-bottom: 10px;
}
.left {
  padding-left: 80px;
}

.a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5spx;
  padding-right: 150px;
  margin-left: 5px;
}
.b {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  padding-left: 150px;
}
.c {
  padding-left: 110px;
}
.forgotPassword_forgotFormSignin__adusv {
  width: 100%;
  max-width: 400px;
  padding: 10px 25px;
  margin: auto;
  border-radius: 4px;
  background-color: white;
}
.btn-block {
  display: block;
  width: 100%;
  margin-left: 5px;
}
.d {
  margin-left: 5px;
}
